@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #ff6f61;
  --primary-2: #ff9a90;
  --primary-3: #ffc5c0;
  --primary-4: #fff1ef;
  --primary-green: #39ae52;
  --secondary: #4b4ded;
  --secondary-2: rgba(75, 77, 237, 0.75);
  --secondary-3: rgba(75, 77, 237, 0.5);
  --secondary-4: #efeffd;
  --dark: #000000;
  --dark-2: #101828;
  --dark-3: #282828;
  --dark-4: #1c1c1c;
  --white: #ffffff;
  --white-2: #edeae5;
  --purple: #9148ff;
  --purple-2: #f6efff;
  --violet: #a83fff;
  --violet-2: #a474ff;
  --success: #31d0aa;
  --success-2: rgba(49, 208, 170, 0.75);
  --success-3: rgba(49, 208, 170, 0.5);
  --success-4: rgba(49, 208, 170, 0.1);
  --light-green: #00ba00;
  --text: #545454;
  --text-2: #393939;
  --text-3: #667085;
  --text-4: #757575;
  --line: #ebebeb;
  --line-2: #f2f4f7;
  --line-3: #c9c9c9;
  --line-4: #e4e7ec;
  --line-5: rgba(126, 126, 126, 0.2);
  --surface: #f5f5f5;
  --surface-2: #f7f7f7;
  --surface-3: #f3f3f3;
  --shadow-1: 0px 4px 20px 0px #0000001a;
  --gradient-1: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
  --gradient-2: linear-gradient(
    180deg,
    rgba(231, 236, 210, 0) 0%,
    #e7ecd2 100%
  );
  --backdrop: rgba(0, 0, 0, 0.4);
  --bg-scrollbar-track: #f1f1f1;
  --bg-scrollbar-thumb: #c1c1c1;
  --rgba-white: rgba(255, 255, 255, 0.8);
  --rgba-dark: rgba(0, 0, 0, 0.6);
  --rgba-dark-2: rgba(0, 0, 0, 0.8);
  --rgba-dark-3: rgba(0, 0, 0, 0.2);
  --yellow: #ffc108;
  --yellow-2: #ff9a00;
  --brown: #8f5252;
  --red: #e21b1b;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --bg-body: #fffcfa;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-family: "Albert Sans", sans-serif;
  --font-family-2: "Poppins", sans-serif;
  --facebook-cl: rgb(59, 89, 152);
  --twitter-cl: rgb(85, 85, 85);
  --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);
  --threads-cl: rgb(224, 53, 102);
  --youtube-cl: rgb(205, 32, 31);
  --tiktok-cl: linear-gradient(#25f4ee, #000, #fe2c55);
  --tiktok-cl2: rgb(254, 44, 85);
  --pinterest-cl: rgb(203, 32, 39);
  --tumblr-cl: rgb(55, 69, 92);
  --vimeo-cl: rgb(26, 183, 234);
  --snapchat-cl: rgb(255, 221, 0);
  --whatsapp-cl: rgb(0, 230, 118);
  --linked_in-cl: rgb(23, 106, 255);
  --wechat-cl: rgb(26, 173, 24);
  --reddit-cl: rgb(255, 69, 0);
  --line-cl: rgb(0, 195, 77);
  --spotify-cl: rgb(30, 125, 96);
}

@theme {
  --color-purple: #a95354;
  --animate-infinite-scroll: infiniteScroll 20s linear infinite;
  --animate-infinite-scroll-60: infiniteScroll 60s linear infinite;
  --animate-spin-border: spinBorder 1.5s linear;
  --animate-shine-reverse: shineReverse 1s forwards;
  --animate-fade-item: fadeInUpSlider 0.3s ease-in-out forwards;
  --animate-fade-in: fadeIn 0.4s ease-in forwards;
  --animate-fade-in-up: fadeInUp 0.4s ease-out forwards;
  --animate-fade-in-down: fadeInDown 0.4s ease-out forwards;
  --animate-fade-in-left: fadeInLeft 0.4s ease-out forwards;
  --animate-fade-in-right: fadeInRight 0.4s ease-out forwards;
  --animate-navigation-in-left: enterFromLeft 0.25s ease forwards;
  --animate-navigation-in-right: enterFromRight 0.25s ease forwards;
  --animate-navigation-out-left: exitToLeft 0.25s ease forwards;
  --animate-navigation-out-right: exitToRight 0.25s ease forwards;
  --animate-navigation-in-top: enterFromTop 0.25s ease forwards;
  --animate-navigation-in-bottom: enterFromBottom 0.25s ease-in-out forwards;
  --animate-navigation-out-top: exitToTop 0.25s ease forwards;
  --animate-navigation-out-bottom: exitToBottom 0.25s ease forwards;

  @keyframes infiniteScroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes spinBorder {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes shineForward {
    0% {
      left: -100%;
    }

    100% {
      left: 100%;
    }
  }

  @keyframes shineReverse {
    0% {
      left: 100%;
    }

    100% {
      left: -100%;
    }
  }

  @keyframes fadeInUpSlider {
    0% {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes enterFromTop {
    from {
      opacity: 0;
      transform: translateY(-200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes enterFromBottom {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes exitToTop {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-200px);
    }
  }

  @keyframes exitToBottom {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(200px);
    }
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--bg-body);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    @apply font-[--font-family];
  }

  .pause {
    animation-play-state: paused;
  }
}

@layer utilities {
  .animation-fade-item {
    animation: var(--animate-fade-item);
  }

  .animate-fade-in-up {
    animation: var(--animate-fade-in-up);
  }

  .animate-fade-in-down {
    animation: var(--animate-fade-in-down);
  }

  .animate-fade-in-left {
    animation: var(--animate-fade-in-left);
  }

  .animate-fade-in-right {
    animation: var(--animate-fade-in-right);
  }
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
:root {
  height: 100%;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
